<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25727766698-rof7ah3hhe236s25h09o54kg2nrhi3p5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25727766698-rof7ah3hhe236s25h09o54kg2nrhi3p5</string>
	<key>API_KEY</key>
	<string>AIzaSyDqkZobZJ5YfneFt-cCTTF6J0_zg68IsPw</string>
	<key>GCM_SENDER_ID</key>
	<string>25727766698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monaca.LCALL.TEST</string>
	<key>PROJECT_ID</key>
	<string>lcall-test</string>
	<key>STORAGE_BUCKET</key>
	<string>lcall-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25727766698:ios:89d2f6e48068d1517380d3</string>
	<key>DATABASE_URL</key>
	<string>https://lcall-test.firebaseio.com</string>
</dict>
</plist>