/**/
html,
body {
  width: 100vw;
  height: 100vh;
}
.cp_iptxt {
  margin: 7px 3%;
  font-size: 0.8em;
}
#call-page .select-input {
  font-size: 0.8em;
}

.cp_iptxt i {
  padding: 7px 15px;
  color: #515c6f;
}
.cp_iptxt ons-select {
  margin: 0px;
}

.bottom-bar {
  height: 49px;
}

.cp_iptxt {
  position: relative;
  margin: 15px 3%;
}
.cp_iptxt input {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0;
  padding: 0.3em;
  transition: 0.3s;
  border: 1px solid #898989;
  border-radius: 4px;
  outline: none;
}
.cp_iptxt input:focus {
  border-color: #ff9831;
}
.cp_iptxt input {
  padding-left: 40px;
}
.cp_iptxt i {
  position: absolute;
  top: 17px;
  left: 5px;
  padding: 9px 8px;
  transition: 0.3s;
  color: #aaaaaa;
}
.cp_iptxt input:focus + i {
  color: #ff9831;
}

.tabbar__icon > .fa {
  font-size: 0.8em;
}
:checked + .tabbar__button {
  color: #ff9831;
}

.cp_iptxt ons-select {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0;
  padding: 0.3em;
  transition: 0.3s;
  border: 1px solid #515c6f;
  border-radius: 4px;
  outline: none;
}
.cp_iptxt ons-select:focus {
  border-color: #ff9831;
}
.cp_iptxt ons-select {
  padding-left: 40px;
}

.fa-spinner {
  font-size: 40px;
  color: #0799d7;
}

p,
h4,
.navy-font,
ons-toolbar > .center,
ons-toolbar > .right,
ons-toolbar > .left {
  color: #515c6f;
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif !important;
}

.light-navy-font,
#chatDetailPage ons-card {
  color: #515c6f;
  font-size: 0.8em;
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif !important;
}

#chat-page > .page__content,
#tweetPage > .page__content {
  background: white !important;
}

#search-page > .page__content {
  padding-right: 10px;
  padding-left: 10px;
  background: white !important;
}

#call-page2 > .page__content {
  padding-right: 10px;
  padding-left: 10px;
}
#call-page3 > .page__content {
  padding-right: 10px;
  padding-left: 10px;
  background: white !important;
}

.search-input {
  height: 35px;
  border-radius: 10px;
}

#tweetPage .left {
  align-items: baseline;
  padding-top: 20px;
}

#tweetPage .list-item__center {
  padding-top: 20px;
  padding-bottom: 20px;
}

.send-area {
  padding: 0 5px;
  box-sizing: border-box;
  line-height: 49px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: solid 1px #ccc;
}

.send-area ons-input {
  display: inline-block;
  position: relative;
  width: calc(100% - 60px);
}

.send-area input {
  vertical-align: middle;
  position: relative;
  width: 98%;
}

#chatDetailPage .right {
  margin-right: -5px;
}
#chatDetailPage .left {
  margin-left: -5px;
}
#chatDetailPage .right ons-card {
  border-radius: 50px 50px 0px 50px;
}
#chatDetailPage .left ons-card {
  border-radius: 50px 50px 50px 0px;
}

#chatDetailPage .popover__content,
#search-page .popover__content {
  width: 300px;
}

#chatDetailPage .popover__content .text-input,
#search-page .popover__content .select-input {
  text-align: right;
}

#search-page .popover__content .select-input,
#search-page .popover__content ons-col {
  font-size: 0.9em;
}

.back-button__icon,
.back-button__label {
  fill: #515c6f;
  color: #515c6f;
}

.button--large--cta,
ons-bottom-toolbar {
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif !important;
}

#womanPageCarender ons-col {
  color: #515c6f;
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif !important;
  font-size: 0.8em;
}

#mypageProfileEditPage > .page__content {
  padding-right: 10px;
  padding-left: 10px;
  background: white !important;
}

.large-button-orange {
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #ff9831;
}
.large-button-gray {
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: gray;
}
.large-button-blue {
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #0799d7;
}

ons-input,
ons-select {
  border: 1px solid #ccc;
  width: 95%;
  border-radius: 5px;
  padding: 0.3em;
}

.select-input,
.text-input,
.textarea {
  font-size: 1em;
}
.textarea {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  padding: 3%;
}
